<div [@fade]="'void'" *ngIf="showCalculator" [@fade]>
  <button class="close-button" (click)="closeCalculator($event)">Fechar</button>
  <h3>Juros Compostos:</h3>
  <div class="calculator">
    <p class="formula">JC = C * (1 + i)<sub>n</sub></p>
    <div>
      <input
        [(ngModel)]="capital"
        type="number"
        placeholder="Capital Inicial"
      />
      * (1 +
      <input [(ngModel)]="taxa" type="number" placeholder="Taxa de Juros (%)" />
      / 100) ^ <input [(ngModel)]="tempo" type="number" placeholder="Tempo" /> =
      <span class="result">{{ getJurosCompostos() }}</span>
    </div>
  </div>
</div>
