<div class="container">
  <hello name="{{ name }}"></hello>

  <div class="options">
    <input type="radio" [(ngModel)]="option" [value]="1" />Juros Simples
    <input type="radio" [(ngModel)]="option" [value]="2" />Juros Compostos
  </div>

  <ng-container *ngIf="option == 1">
    <div class="calculator">
      <app-juros-simples> </app-juros-simples>
    </div>
  </ng-container>

  <ng-container *ngIf="option == 2">
    <div class="calculator">
      <app-juros-compostos> </app-juros-compostos>
    </div>
  </ng-container>
</div>
